page-forgot-password {
    .content {
        background-color: #FFF9D5;
        width: 100%;
        height: 40%;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        .close-icon {
            float: right;
            font-size: 25px;
        }
        .error {
            color: #ff0000;
        }
        .submit_btn {
            background-color: #FF550A;
            width: 100%;
        }
    }
}
