page-my-subscription {
	.scroll-content {
		padding: 0px 0px !important;
	}
	.scroll-content > p {
		font-size: 21px;
		padding: 6px 10px;
		background: #e3e3e3;
		text-align: left;
		margin: 10px 0px;
	}
	.scroll-content > div {
		padding: 6px 10px;
		text-align: center;
		margin: 10px 0px;
	}
	
	.list > div {
		margin: 10px 10px;
		border: solid 1px #dedede;
		padding: 10px 10px;
		position: relative;
		ion-radio {
			position: absolute;
			top: 10px;
			left: 2px;
		}
	}
	
	.list > div > div > div:first-child {
		margin: -10px -10px 10px -10px;
		background: #ededed;
		font-size: 16px;
		padding: 10px 20px 10px 24px;
	}
	.list > div > div > div:last-child {
		padding: 0px 14px;
	}
	
	.list > div > div > div:last-child > p {
		margin: 7px 0px;
	}
	.list > div > .button {
		display: inline-block;
		padding: 4px 12px;
		height: auto;
		box-shadow: none;
		border: solid 0px;
		margin: 0px 14px;
	}
	.list > div > .price {
		position: relative;
		margin-top: -60px;
		float: right;
		margin-right: 20px;
	}
}
