<!--
  Generated template for the ChangePasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
          <div class="home_title_logo">
            <img src="assets/imgs/logo.png" width="45px" style="display:inline-block" height="45px" />
          </div>
        </ion-title>
      </ion-navbar>
</ion-header>

<ion-content padding>
    <div class="py">
        <div class="outer-p ">
            <form (submit)="doChangePassword()" [formGroup]="form">
                <div class="input_box">
                    <ion-item>
                        <ion-label floating>Current Password</ion-label>
                        <ion-input [(ngModel)]="data.old_password" name="old_password" formControlName="old_password" type="password"></ion-input>
                    </ion-item>
                    <div class="error" *ngIf="form.get('old_password').hasError('required') && form.get('old_password').touched">
                        This is required
                    </div>
                </div>

                <div class="input_box">
                    <ion-item>
                        <ion-label floating>New Password</ion-label>
                        <ion-input [(ngModel)]="data.password" name="password" formControlName="password" type="password"></ion-input>
                    </ion-item>
                    <div class="error" *ngIf="form.get('password').hasError('required') && form.get('password').touched">
                        This is required
                    </div>
                </div>

                <div class="input_box">
                    <ion-item>
                        <ion-label floating>Confirm New Password</ion-label>
                        <ion-input [(ngModel)]="data.confirm_password" name="confirm_password" formControlName="confirm_password" type="password"></ion-input>
                    </ion-item>
                    <div class="error" *ngIf="form.get('confirm_password').hasError('required') && form.get('confirm_password').touched">
                        This is required
                    </div>
                    <div no-lines *ngIf="!form.controls.confirm_password.valid  && form.controls.confirm_password.dirty">
                        <div class="error" *ngIf="form.controls.confirm_password.hasError('notEquivalent')">Password do not match</div>
                    </div>
                </div>

                <div class="btn_outer">
                    <button ion-button block type="submit" margin-top [disabled]="!form.valid">Submit</button>
                </div>
            </form>
        </div>
    </div>
</ion-content>
